/* html {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.jumbotron {
    width: 650px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.table {
    margin-top: 20px;
    background-color: #fff;
}

.form-control {
    margin-bottom: 5px;
}

.btn {
    margin-top: 15px;
}

.selecionado {
    font-weight: bold;
}

.alert {
    height: 50px;
}

